/* Main Payment Modal Styles */
.scroll-container {
  height: calc(100vh - 120px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dynamic-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Common styles that are shared across components */
.details-section {
  flex: 1;
  padding: 20px 16px 16px 16px;
}

.coupon-section {
 border: 0.769px solid #E5E7EB;
  border-radius: 8px;
bannerground: #FFF;
}


 

.input-box {
  border-bottom: 1px solid #777A7C;
  border-radius: 3.846px;
background: #F3F4F6;
  padding: 8px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius:0px;
   border-bottom-right-radius:0px;

  border-top: none;
  border-left: none;
  border-right: none;
}

.input-box input {
 width: 90%;
  border: none;
  background: #F3F4F6;
  font-family: Public Sans;
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #423434;
 
}

.input-box input::placeholder {

  color: #423434;

font-family: "Public Sans";
font-size: 17.094px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}

.input-box input:focus {
  border: none;
  outline: none;
}

.available {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #666;
  background: #FFF;
 
}

.available span:last-child {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #007bff;
  gap: 4px;
}

.available span:last-child:hover {
  color: #0056b3;
}

/* Responsive adjustments */
/*@media (max-width: 480px) {
  .scroll-container {
    height: 100vh;
  }
}*/