

.cod-payment {
  display: flex;
  flex-direction: column;
 justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  height: 76vh;          /* Full viewport height */
  margin: 0; 
  background: #fff;
  cursor: pointer;
 
}  
.cod-payment-image {
max-width: 174px;
min-height: 173.32px;
flex-shrink: 0;
aspect-ratio: 174.00/173.32;


}
.your-order{
  color: #24B839;
text-align: center;
font-family: Inter;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding : 20px 30px;


}
.order-received {
 color: #000;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom:20px;
margin-left:20px;
margin-right:20px;
padding: 0 12px;
}

.order-track {
  display: flex;
width: 390px;
height: 60px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 7.69px;
background: #423434;
margin-bottom: 20px;
color: #FFF;
text-align: center;
font-family: "Public Sans";
font-size: 23.08px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}